html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-bg iframe {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
  font-family: sans-serif;
}

